/* variables */
:root {
    --base-color: #f4f5f6;
    --second-color: #242528;
    --third-color: #3F7FBF;
    --fourth-color: #3FBF7B;
}

/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: var(--base-color);
    scroll-behavior: smooth;
}

.wrapper {
    width: 90%;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    color: var(--second-color);
    font-family: 'Open Sans', sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    margin-bottom: 1rem;
}

.header-wrapper a {
    color: var(--second-color);
    text-decoration: none;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.header-wrapper span:hover {
    color: var(--fourth-color);
}

.main-header {
    color: var(--third-color);
    text-transform: uppercase;
}

.header-paragraph {
    margin-bottom: 1.5rem;
}

.search {
    margin: 1.5rem 0;
}

.menu {
    margin: 0;
    padding: 0 0 0 1rem;
}

.menu a:hover {
    color: var(--fourth-color);
    text-decoration: underline;
}

/* section */
.second-header {
    color: var(--fourth-color);
}

.work ul{
  list-style-type: none;
  padding: 0;
}

.work li a{
  margin: 2vh 0;
}

.section a {
    color: var(--second-color);
    text-decoration: none;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.section a:hover {
    color: var(--fourth-color);
    text-decoration: underline;
}

/* footer */
.footer-wrapper {
    padding: 2rem 0;
    text-align: center;
}

.footer-wrapper span {
    font-size: 2rem;
    color: var(--second-color);
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.footer-wrapper span:hover {
    opacity: 1;
}

/* media queries*/
@media only screen and (min-width: 700px) {
    .wrapper {
        text-align: left;
    }

    .work ul{
        list-style-type: circle;
        padding: 0 1.5rem;
    }

    .footer-wrapper {
        text-align: right;
    }
}
